@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
*{
    font-family: 'Patrick Hand', cursive;
}

body{
    overflow-x: hidden;
}
/*body::before {
    content: "XS";
    color: red;
    font-size: 2rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    right: 0;
  }
  
  @media (min-width: 576px) {
    body::before {
      content: "SM";
    }
  }
  
  @media (min-width: 768px) {
    body::before {
      content: "MD";
    }
  }
  
  @media (min-width: 992px) {
    body::before {
      content: "LG";
    }
  }
  
  @media (min-width: 1200px) {
    body::before {
      content: "XL";
    }
  }
  
  @media (min-width: 1400px) {
    body::before {
      content: "XXL";
    }
  }
*/
.title-screen-bk{
    background-image: url(img/sea_background_LG.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 3;
    height: 100vh;
}

@media(min-width:992px){
    .title-screen-bk{
        background-image: url(img/sea_background_LG.png);
    }
}

@media(min-width:1200px){
    .title-screen-bk{
        background-image: url(img/sea_background_XXL.png);
    }
}

nav{
    margin-bottom: 1rem;
}

nav ul{
    list-style-type: none;
    text-align: center;
    font-size: 1rem;
}

nav a{
    display: inline-block;
    text-align: center;
    padding: 3rem 1.4rem;
    text-decoration: none;
    font-size: 2rem;
    color: white;
    transition-duration: .5s;
}

@media(min-width: 992px) {

    nav a{
        padding: 3rem 2rem;
        font-size: 2rem;
    }
}

@media(min-width: 1200px) {

    nav a{
        padding: 3rem 4rem;
        font-size: 2rem;
    }
}

nav a:hover{
    transform: translate(0, -5px);
    transition-duration: .5s;
    color: #F78D78;
    text-shadow: 0 0 10px #F78D78;
}

nav li{
    display: inline;
}

nav img{
    margin: -3rem -7rem; 
    height: 200px;
}

@media(min-width: 768px){

    nav img{
        margin: -3rem -7rem; 
        height: 200px;
    }

}

@media(min-width: 992px){

    nav img{
        margin: -3rem -3rem;
        height: 200px;
    }

}

button{
    border:none;
    color: black;
    padding: .8rem .7rem;
    text-align: center;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}

@media(min-width: 992px) {

    button{
        padding: .8rem .7rem;
    }
}

@media(min-width: 1200px) {

    button{
        padding: .8rem 1rem;
    }
}

.red{
    background: rgb(244,145,125);
    background: linear-gradient(135deg, rgba(244,145,125,1) 0%, rgba(247,141,120,1) 100%);
}

.centered{
    margin-top: 3rem;
    font-size: 1.4rem;
}

.title-buttons button{
    align-items:center ;
    padding: .75rem 1.1rem;
    font-size: 1.75rem;
    margin: 1rem -1px;
    box-shadow: 0 0 20px 1px #fff;
}


@media(min-width: 992px) {

    .title-buttons button{
        padding: .75rem 1.5rem;
    }
}

@media(min-width: 1200px) {

    .title-buttons button{
        padding: .75rem 1rem;
    }
}

@media(min-width: 1400px) {

    .title-buttons button{
        padding: .75rem 2rem;
    }
}

.title-text h1,p{
    text-align: center;
    color: white;
}

.title-text h1{
    font-size: 5rem;
    font-family: 'Berkshire Swash', cursive;
    padding-top: 0rem;
    transition-duration: .5s;
}

@media (min-width: 768px){
    .title-text h1{
        padding-top: 0rem;
        font-size: 8rem;
    }
}

@media (min-width: 1200px){
    .title-text h1{
        padding-top: 12rem;
    }
}

.title-text p{
    font-size: 2rem;
    transition-duration: .5s;
}

@media (min-width: 768px){

    .title-text p{
        font-size: 3rem;
    }
    
    .title-text .info-para-text{
        font-size: 2rem;
    }
}

.first-body{
    background-color: #224FF2;
}

.first-body h2{
    font-size: 4.5rem;
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
    margin-top: 3rem;
    color: white;
}

.first-body p{
    font-size: 2rem;
}

.graph-first-para img{
    height: 110%;
    margin-top: 2rem;
    
}

.graph-first-para2 img{
    margin-left: 7rem;
    height: 90%;
}

.grad-1{
    background: rgb(25,53,162);
    background: linear-gradient(0deg, rgba(25,53,162,1) 0%, rgba(34,79,242,1) 100%);
}

.grad-1 p{
    margin: 0;
}

.second-body{
    background-color: #1935A2;
}

.second-body h2{
    font-size: 4.5rem;
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
    margin-top: 3rem;
    color: white;
}

.second-body p{
    font-size: 2rem;
}

.graph-second-para img{
    margin-top: 1rem;
    margin-left: 10rem;
}

.graph-second-para2 img{
    margin-right: 0rem;
    margin-left: 3rem;
}

.grad-2{
    background: rgb(15,27,81);
    background: linear-gradient(0deg, rgba(15,27,81,1) 0%, rgba(25,53,162,1) 100%);
}

.grad-2 p{
    margin: 0;
}

.slider2nd {
	width: 100%;
}
.slider2nd input {
	display: none;
}
.testimonials {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	min-height: 600px;
	perspective: 1000px;
	overflow: hidden;
}
.testimonials .item {
	width: 450px;
	padding: 30px;
	border-radius: 5px;
	background-color: #354ba1;
	position: absolute;
	top: 0;
	box-sizing: border-box;
	text-align: center;
	transition: transform 0.4s;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	user-select: none;
	cursor: pointer;
}
.testimonials .item img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50%;
	border: 7px solid #fff;
}
.testimonials .item p {
	color: #ddd;
}
.testimonials .item h2 {
	font-size: 20px;
    color: #fff;
}
.dots {
	display: flex;
	justify-content: center;
	align-items: center;
}
.dots label {
	height: 5px;
	width: 5px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #F78D78;
	margin: 7px;
	transition-duration: 0.2s;
    box-shadow: 0 0 5px #F78D78;
}

.quotationcolorswap {
    color: #F78D78;
    text-shadow: 0 0 10px #F78D78;
}



#t-1:checked ~ .dots label[for="t-1"],
#t-2:checked ~ .dots label[for="t-2"],
#t-3:checked ~ .dots label[for="t-3"],
#t-4:checked ~ .dots label[for="t-4"],
#t-5:checked ~ .dots label[for="t-5"] {
	transform: scale(2);
	background-color: #fff;
}
#t-1:checked ~ .dots label[for="t-2"],
#t-2:checked ~ .dots label[for="t-1"],
#t-2:checked ~ .dots label[for="t-3"],
#t-3:checked ~ .dots label[for="t-2"],
#t-3:checked ~ .dots label[for="t-4"],
#t-4:checked ~ .dots label[for="t-3"],
#t-4:checked ~ .dots label[for="t-5"],
#t-5:checked ~ .dots label[for="t-4"] {
	transform: scale(1.5);
}
#t-1:checked ~ .testimonials label[for="t-5"] {
	transform: translate3d(1200px, 0, -360px) rotateY(-45deg);
}
#t-1:checked ~ .testimonials label[for="t-4"],
#t-2:checked ~ .testimonials label[for="t-5"] {
	transform: translate3d(900px, 0, -270px) rotateY(-35deg);
	z-index: 1;
}
#t-1:checked ~ .testimonials label[for="t-3"],
#t-2:checked ~ .testimonials label[for="t-4"],
#t-3:checked ~ .testimonials label[for="t-5"] {
	transform: translate3d(600px, 0, -180px) rotateY(-25deg);
	z-index: 2;
}
#t-1:checked ~ .testimonials label[for="t-2"],
#t-2:checked ~ .testimonials label[for="t-3"],
#t-3:checked ~ .testimonials label[for="t-4"],
#t-4:checked ~ .testimonials label[for="t-5"] {
	transform: translate3d(300px, 0, -90px) rotateY(-15deg);
	z-index: 3;
}
#t-2:checked ~ .testimonials label[for="t-1"],
#t-3:checked ~ .testimonials label[for="t-2"],
#t-4:checked ~ .testimonials label[for="t-3"],
#t-5:checked ~ .testimonials label[for="t-4"] {
	transform: translate3d(-300px, 0, -90px) rotateY(15deg);
	z-index: 3;
}
#t-3:checked ~ .testimonials label[for="t-1"],
#t-4:checked ~ .testimonials label[for="t-2"],
#t-5:checked ~ .testimonials label[for="t-3"] {
	transform: translate3d(-600px, 0, -180px) rotateY(25deg);
}
#t-5:checked ~ .testimonials label[for="t-2"],
#t-4:checked ~ .testimonials label[for="t-1"] {
	transform: translate3d(-900px, 0, -270px) rotateY(35deg);
}
#t-5:checked ~ .testimonials label[for="t-1"] {
	transform: translate3d(-1200px, 0, -360px) rotateY(45deg);
}
#t-1:checked ~ .testimonials label[for="t-1"],
#t-2:checked ~ .testimonials label[for="t-2"],
#t-3:checked ~ .testimonials label[for="t-3"],
#t-4:checked ~ .testimonials label[for="t-4"],
#t-5:checked ~ .testimonials label[for="t-4"],
#t-5:checked ~ .testimonials label[for="t-5"] {
	z-index: 4;
}

.third-body{
    background-color: #0f1b51;
}

.third-body h2{
    font-size: 4.5rem;
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
    margin-top: 3rem;
    color: white;
}

.third-body p{
    font-size: 2rem;
}

.third-body a{
    color: #F78D78;
    text-decoration: none;
}

.graph-third-para2 img{
    margin-left: 8rem;
    margin-top: 6rem;
}

.grad-3{
    background: rgb(15,27,81);
    background: linear-gradient(180deg, rgba(15,27,81,1) 0%, rgba(8,15,49,1) 100%);
}

.grad-3 p{
    margin: 0;
}

.third-body{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

.person {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 280px;
    margin: 0 4rem;
  }
  .container3rd {
    border-radius: 50%;
    height: 312px;
    -webkit-tap-highlight-color: transparent;
    transform: scale(0.48);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 400px;
  }
  .container3rd:after {
    background-color: #f2f2f2;
    content: "";
    height: 10px;
    position: absolute;
    top: 390px;
    width: 100%;
    box-shadow: 0 0 20px 1px #fff;
  }
  .container3rd:hover {
    transform: scale(0.54);
  }
  .container-inner {
    clip-path: path(
      "M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
    );
    position: relative;
    transform-origin: 50%;
    top: -200px;
  }
  .circle {
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    height: 380px;
    left: 10px;
    pointer-events: none;
    position: absolute;
    top: 210px;
    width: 380px;
  }
  .img {
    pointer-events: none;
    position: relative;
    transform: translateY(20px) scale(1.15);
    transform-origin: 50% bottom;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .container3rd:hover .img {
    transform: translateY(0) scale(1.2);
  }
  .img1 {
    left: 35px;
    top: 240px;
    width: 340px;
  }
  .img2 {
    left: 35px;
    top: 243px;
    width: 340px;
  }
  .img3 {
    left: 35px;
    top: 240px;
    width: 340px;
  }
  .divider {
    background-color: #F78D78;
    height: 1px;
    width: 160px;
    box-shadow: 0 0 20px 1px #fff;
  }
  .name {
    color: #F78D78;
    font-size: 36px;
    font-weight: 600;
    margin-top: 16px;
    text-align: center;
  }
  .title {
    color: white;
    font-family: arial;
    font-size: 14px;
    font-style: italic;
    margin-top: 4px;
  }  

  .the-founders{
    text-shadow: 0 0 10px #F78D78, 0 0 20px #F78D78, 0 0 30px #F78D78;
  }

footer{
    background-color: #080F31;
    color: white;
}

footer h3{
    font-size: 48px;
    margin-bottom: 0px;
    text-align: center;
    text-shadow: 0 0 10px #fff;
}

footer ul{
    list-style-type: none;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    text-shadow: 0 0 10px #fff;
}

footer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer a:hover{
    color: silver;
}

.first-body-shop{
    padding-top: 4rem;
}

.first-body-shop img{
    height: 10rem;
}

.first-body-shop .platinum-img img{
    height: 10rem;
}

.first-body-shop a{
    text-decoration: none;
    color: #F78D78;
}

.first-body-shop a:hover{
    color: #b86959;
}

.card1,.card2,.card3,.card4{
    background: rgb(34,79,242);
    background: linear-gradient(135deg, rgba(34,79,242,1) 0%, rgba(15,27,81,1) 100%);
    box-shadow: 0px 0px 50px #080F31;
    margin: 1.5rem;
}

.card1 img{
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.card2 img{
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: .5rem;
}

.card3 img{
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: .5rem;
}

.card4 img{
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: .5rem;
}

.wrapper div {
    height: 60px;
    width: 60px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    position:fixed;
    top: 10%;
    left: 10%;
    animation: 4s linear infinite;
    z-index: 0;
  }

  div .dot {
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 20%;
    right: 20%;
  }
  .wrapper div:nth-child(1) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .wrapper div:nth-child(2) {
    top: 60%;
    left: 80%;
    animation: animate 10s linear infinite;
  }
  .wrapper div:nth-child(3) {
    top: 40%;
    left: 40%;
    animation: animate 3s linear infinite;
  }
  .wrapper div:nth-child(4) {
    top: 66%;
    left: 30%;
    animation: animate 7s linear infinite;
  }
  .wrapper div:nth-child(5) {
    top: 90%;
    left: 10%;
    animation: animate 9s linear infinite;
  }
  .wrapper div:nth-child(6) {
    top: 30%;
    left: 60%;
    animation: animate 5s linear infinite;
  }
  .wrapper div:nth-child(7) {
    top: 70%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .wrapper div:nth-child(8) {
    top: 75%;
    left: 60%;
    animation: animate 10s linear infinite;
  }
  .wrapper div:nth-child(9) {
    top: 50%;
    left: 50%;
    animation: animate 6s linear infinite;
  }
  .wrapper div:nth-child(10) {
    top: 45%;
    left: 20%;
    animation: animate 10s linear infinite;
  }
  .wrapper div:nth-child(11) {
    top: 10%;
    left: 90%;
    animation: animate 9s linear infinite;
  }
  .wrapper div:nth-child(12) {
    top: 20%;
    left: 70%;
    animation: animate 7s linear infinite;
  }
  .wrapper div:nth-child(13) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .wrapper div:nth-child(14) {
    top: 60%;
    left: 5%;
    animation: animate 6s linear infinite;
  }
  .wrapper div:nth-child(15) {
    top: 90%;
    left: 80%;
    animation: animate 9s linear infinite;
  }
  @keyframes animate {
    0% {
      transform: scale(0) translateY(0px) rotate(70deg);
    }
    100% {
      transform: scale(0.5) translateY(-1000px) rotate(360deg);
    }
  }

.hidden {
    opacity: 0;
    transform: translateY(20%);
    filter: blur(5px);
    transition: all 1s;
    transition-delay: var(--delay);
    will-change: transform, opacity, filter;
}
    
.hidden.show {
    opacity: 1;
    transform: translateY(0%);
    filter: blur(0px);
}

#bubble{
    opacity: 0;
}

.modal-header h5{
    font-size: 3rem;
    text-align: center;  
    color:black;  
}

.modal-body{
    text-align: center;
    font-size: 1rem;
    background: #fff;
}

.modal-body p{
    color: black;
}

.modal-content {
    background: rgb(34,79,242);
}

.grow{
    transition: all .2s ease-in-out;
}

.grow:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px 5px #fff;
}

::-webkit-scrollbar{
    width: 0;
}

#scrollpath{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height:100%;
    background: rgba(247, 141, 120,0.4);
}

#progressbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(to top, white, #f5e0d5);
}

#progressbar:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, white, #f5e0d5);
    filter: blur(10px);
}

#progressbar::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, white, #f5e0d5);
    filter: blur(30px);
}

$color1: #306D85;
$color2: #D93A54;

.sea {
    margin: 15% auto 0 auto;
    overflow: hidden;
    
    .bubble {
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: lighten($color1, 25%);
        opacity: 0.9;
        animation: bubble1-h-movement 1s ease-in infinite, bubble1-v-movement 300ms ease-in-out infinite alternate, bubble-scale-movement 300ms ease-in-out infinite alternate;
        
        &:after {
            position: absolute;
            content: "";
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: lighten($color1, 25%);
            opacity: 0.9;
            
        }
        &:after {
          top: -20;
          left:100px;
          width: 9px;
          height: 9px;
        }
        

    }
    
    .circle-wrapper {
        position: relative;
        background: linear-gradient(darken($color1, 3%), darken($color1, 12%));
        width:300px;
        height:300px;
        margin: 10px auto 0 auto;
        overflow: hidden;
        z-index: 0;
        border-radius:50%;
        padding: 0 50px 0 50px;
        border: 6px solid lighten($color1, 10%);
        
    }
    
    .submarine-wrapper {
        height: 300px;
        width: 300px;
        padding: 30px 50px 30px 150px;
        margin: 0 auto 0 auto;
        animation: diving 3s ease-in-out infinite, diving-rotate 3s ease-in-out infinite;
        
       .submarine-body {
           
           width: 150px;
           height: 80px;
           position: absolute;
           margin-top: 50px;
           left: 25px;  
           background-color: $color2;
           border-radius: 40px;
           background: linear-gradient($color2, darken($color2, 10%));
           
           .light {
                position:absolute;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 40px 150px 40px;
                border-color: transparent transparent lighten($color1,5%) transparent;
               
                transform: rotate(-50deg);
               top:40px;
               left:99%;
               
               &:after {
                   content:"";
                   position: absolute;
                   width: 20px;
                   height:13px;
                   border-radius:5px;
                   background-color:darken($color2, 5%);
                   margin-left:-10px;
               }

           }
           
           .window {
               width: 37px;
               height: 37px;
               position: absolute;
               margin-top: 23px;
               right: 18px;
               background: linear-gradient(darken($color1, 13%), darken($color1, 18%));
               border-radius: 50%;
               border: 3px solid $color2;
               
                &:after {
                  content: "";
                  position: absolute;
                  margin-top:3px;
                  margin-left:3px;
                  width: 25px;
                  height: 25px;
                  border-radius: 50%;
                  background-color: transparent;
                  opacity:0.8;
                  border-top:3px solid white;
                  transform:rotate(-45deg); 
                }
           }
           
           .engine {
               width: 30px;
               height: 30px;
               position: absolute;
               margin-top: 32px;
               left: 53px;
               background-color: darken($color2, 10%);
               border-radius: 50%;
               border: 5px solid $color2;
               
               &:after, &:before {
                  position: absolute;
                  content: "";
                  border-radius: 2px;
                  background-color: white;
                  animation:spin 900ms linear infinite;
                  opacity:0.8;
                }
                &:after {
                  top:8px;
                  width: 20px;
                  height: 4px;
                  
                }
                &:before {
                  left:8px;
                  width: 4px;
                  height: 20px;
                  
                }
           }
       }
       
        .helix {
           width: 30px;
           height: 70px;
           position: absolute;
           margin-top: 55px;
           left:0;
           background-color: $color2;
           border-radius: 7px;
           background: linear-gradient($color2, darken($color2, 10%));
           
            &:after {
                content: "";
                position: absolute;
                margin-top:5px;
                margin-left:7px;
                width: 17px;
                height: 60px;
                border-radius: 3px;
                background-color: transparent;
                opacity:0.8;
                background: linear-gradient(
                  to bottom,
                  $color2,
                  $color2 50%,
                  lighten($color2, 15%) 50%,
                  lighten($color2, 15%)
                );
                background-size: 100% 20px;
                animation:helix-movement 110ms linear infinite;

            }
        }
        
        
        .hat {
           width: 65px;
           height: 25px;
           position: absolute;
           margin-top: 26px;
           left:70px;
           background-color: $color2;
           border-radius: 10px 10px 0 0;
           background: linear-gradient($color2, darken($color2, 3%));
           
            .periscope {
                position: absolute;
                width: 7px;
                height: 20px;
                background-color: $color2;
                margin-top: -27px;
                margin-left:32px;
                border-radius:5px 5px 0 0;
                
                &:after, &:before {
                    content: "";
                    position: absolute;
                    width: 15px;
                    height: 7px;
                    border-radius: 5px;
                    background-color: $color2;
                }
            }
            
            .leds-wrapper {
               width: 53px;
               height: 13px;
               position: relative;
               top:7px;
               left:7px;
               background-color: $color2;
               border-radius: 10px;
               background: linear-gradient(darken($color2, 12%), darken($color2, 16%));
                
                .leds {
                    position: absolute;
                    margin-top:4px;
                    margin-left:7px;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: white;
                    animation:leds-off 500ms linear infinite;

                    &:after, &:before {
                        content: "";
                        position: absolute;
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background-color: white;
                    }
                    &:after {
                        margin-top:0px;
                        margin-left:17px;
                    }
                    &:before {
                        margin-top:0px;
                        margin-left:34px;
                    }
                }
            }
        }
        
        
    }
}

@keyframes spin { 
    100% { 
        transform:rotate(360deg); 
    } 
}

@keyframes leds-off { 
    100% { 
        opacity:0.3;
    } 
}

@keyframes helix-movement {
    100% {
        background: linear-gradient(
          to bottom,
          lighten($color2, 15%) 50%,
          lighten($color2, 15%),
          $color2,
          $color2 50%
        );
        background-size: 100% 20px;
    }
}


@keyframes diving {
	0% {
         margin-top:5px;
	}
    50% {
		 margin-top:15px;
	}
    
    100% {
		 margin-top:5px;
	}
}

@keyframes diving-rotate {
	0% {
         transform:rotate(0deg); 
	}
    25% {
         transform:rotate(3deg); 
	}
    50% {
        transform:rotate(-2deg); 
	}
    100% {
        transform:rotate(0deg); 
	}
}

    @keyframes bubble1-h-movement {
	  0% { 
          margin-left: 80%;
      }
	  100% { 
           margin-left: -100%; 
      }
	}	

    @keyframes bubble2-h-movement {
	  0% { 
          margin-left: 65%;
      }
	  100% { 
           margin-left: -5%; 
      }
	}

	@keyframes bubble1-v-movement {
	  0% { 
          margin-top: 115px; 
      }
	  100% { 
          margin-top:160px; 
      }
	}
    
    @keyframes bubble2-v-movement {
	  0% { 
          margin-top: 115px; 
      }
	  100% { 
          margin-top:90px; 
      }
	}

    @keyframes bubble-scale-movement {
	  0% { 
          transform: scale(1.4);
      }
	  100% { 
          transform: scale(0.9);
      }
	}

    @keyframes light-movement {
	  0% { 
          transform: rotate(-40deg);
      }
      50% {
          transform: rotate(-70deg);
      }
	  100% { 
          transform: rotate(-40deg);
      }
	}

#preloader{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    height:100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 30px); }
    100%   { transform: translate(0, -0px); }   
}

.floating2 { 
    animation-name: floating2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating2 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 30px); }
    100%   { transform: translate(0, -0px); }   
}

.floating3 { 
    animation-name: floating3;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating3 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, -20px); }
    100%   { transform: translate(0, 0px); }   
}

.floating4 { 
    animation-name: floating4;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating4 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, -10px); }
    100%   { transform: translate(0, 0px); }   
}

.para-buttons{
    margin-left: 1rem;
    padding: .8rem 1.8rem;
    font-size: 1.7rem;
    box-shadow: 0 0 20px 1px #fff;
}


.slider{
    height: 500px;
    width: 819px;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    text-align: left;
  }
  
.slides{
    width: 500%;
    height: 500px;
    display: flex;
  }
  
.slides input{
    display: none;
  }
  
.slide{
    width: 20%;
    transition: 2s;
  }
  
.slide img{
    width: 350px;
    height: auto;
  }
  
.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
  }
  
.manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    box-shadow: 0 0 20px 1px #fff;
  }
  
.manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
.manual-btn:hover{
    background: #40D3DC;
  }
  
#radio1:checked ~ .first{
    margin-left: 0;
  }
  
#radio2:checked ~ .first{
    margin-left: -20%;
  }
  
#radio3:checked ~ .first{
    margin-left: -40%;
  }
  
#radio4:checked ~ .first{
    margin-left: -60%;
  }
  
.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 600px;
  }
  
.navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
.navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
  }
  
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
  }
  
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
  }
  
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40D3DC;
  }
     
.bronze-header h2{
    padding-bottom: 1rem;
    color: white;
    text-shadow: 0 0 10px #7f523a;
}

.bronze-header h2:hover{
    color:#7f523a;
}
     
.silver-header h2{
    padding-bottom: 1rem;
    color: white;
    text-shadow: 0 0 10px #BCC4C4;
}

.silver-header h2:hover{
    color: #BCC4C4;
}
     
.gold-header h2{
    padding-bottom: 1rem;
    color: white;
    text-shadow: 0 0 10px #f0fc11;
}

.gold-header h2:hover{
    color:#f0fc11;
}
     
.platinum-header h2{
    padding-bottom: 1rem;
    color: white;
    text-shadow: 0 0 10px #4ebff4;
}

.platinum-header h2:hover{
    color:#4ebff4;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0%;
  }

  /* Style the input fields */
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color:#fff;
    margin-bottom: 40px;
    width: 100%;
    max-width: 500px;
    font-size: 25px;
    color: #F78D78;
    border: 1px solid #F78D78;
    box-shadow: 0 0 20px 1px #F78D78;
  }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
    outline: 3px solid #F78D78;
    outline-offset: -2px;
}

  /* Style the submit button */
input[type="submit"] {
    color: white;
    padding: 10px 50px;
    border: none;
    cursor: pointer;
    font-size: 30px;
    box-shadow: 0 0 20px 1px #fff;
    margin-right: 15px;
    margin-bottom: 10rem;
  }

.submit_button{
    text-align: center;
}

  /* Style the text */
label {
    color: #F78D78;
    font-size: 25px;
    margin-bottom: 10px;
    display: block;
    text-align: center;
    font-weight: bold;
  }

.sign-up-body{
    background: rgb(34,79,242);
    background: linear-gradient(180deg, rgba(34,79,242,1) 0%, rgba(8,15,49,1) 100%);
}

.white_glow_big{
    text-shadow: 0 0 10px #fff;
}

.pink_glow_big{
    text-shadow: 0 0 10px #F78D78;
}

.level_one_body{
    height: 100%;
    overflow: hidden;
}

#content{
    height: 100%;
    overflow-y: auto;
}

.scroll-lock {
    overflow: hidden;
}

#scroll-down-button{
    cursor: pointer;
}

input[type=radio] {
    appearance: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: 3px solid #fff;
    cursor: pointer;
  }
  
  input[type=radio]:checked {
    background-color: #F78D78;
  }

.h3styles{
    text-align: center;
    color: white;
    font-size: 3rem;
    margin-bottom: 2.5rem;
}

.form2 label{
    font-size: 2rem;
}

.form-scroll {
    height: 400px; /* set a fixed height for the scrollable box */
    overflow-y: scroll; /* allow vertical scrolling */
    scroll-behavior: smooth;
    border-bottom:white;
    border-width: 10px;
  }

select{
    color: #F78D78;
    background-color: white;
    border-radius: 20px;
    border-color: #F78D78;
    padding: .7rem 1rem;
    font-size: 2rem !important;
    appearance: none;
    
}

.third-form-styles{
    margin-bottom: 20rem;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #F78D78;
    border-radius: 0.25rem;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    vertical-align: middle;
    position: relative;
    top: -1px;
  }
  
  input[type="checkbox"]:checked::before {
    content: "\2713";
    display: block;
    position: absolute;
    top: -4px;
    left: 3px;
    font-size: 1.25rem;
    color: #F78D78;
  }

.grow-noglow{
    transition: all .2s ease-in-out;
}

.grow-noglow:hover{
    transform: scale(1.05);
}

.button21{
    width: 9rem !important;
    height: 4rem;
    margin-bottom: 5rem;
    margin-left: 46%;
    color: white;
    box-shadow: 0 0 30px #fff;
}
