@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
*{
    font-family: 'Patrick Hand', cursive;
}

body{
    overflow-x: hidden;
}
/*body::before {
    content: "XS";
    color: red;
    font-size: 2rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    right: 0;
  }
  
  @media (min-width: 576px) {
    body::before {
      content: "SM";
    }
  }
  
  @media (min-width: 768px) {
    body::before {
      content: "MD";
    }
  }
  
  @media (min-width: 992px) {
    body::before {
      content: "LG";
    }
  }
  
  @media (min-width: 1200px) {
    body::before {
      content: "XL";
    }
  }
  
  @media (min-width: 1400px) {
    body::before {
      content: "XXL";
    }
  }
*/
.title-screen-bk{
    background-image: url(img/sea_background_LG.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 3;
    height: 100vh;
}

@media(min-width:992px){
    .title-screen-bk{
        background-image: url(img/sea_background_LG.png);
    }
}

@media(min-width:1200px){
    .title-screen-bk{
        background-image: url(img/sea_background_XXL.png);
    }
}

nav{
    margin-bottom: 1rem;
}

nav ul{
    list-style-type: none;
    text-align: center;
    font-size: 1rem;
}

nav a{
    display: inline-block;
    text-align: center;
    padding: 3rem 1.4rem;
    text-decoration: none;
    font-size: 2rem;
    color: white;
    transition-duration: .5s;
}

@media(min-width: 992px) {

    nav a{
        padding: 3rem 2rem;
        font-size: 2rem;
    }
}

@media(min-width: 1200px) {

    nav a{
        padding: 3rem 4rem;
        font-size: 2rem;
    }
}

nav a:hover{
    transform: translate(0, -5px);
    transition-duration: .5s;
    color: #F78D78;
}

nav li{
    display: inline;
}

nav img{
    margin: -3rem -7rem; 
    height: 200px;
}

@media(min-width: 768px){

    nav img{
        margin: -3rem -7rem; 
        height: 200px;
    }

}

@media(min-width: 992px){

    nav img{
        margin: -3rem -3rem;
        height: 200px;
    }

}

button{
    border:none;
    color: black;
    padding: .8rem .7rem;
    text-align: center;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}

@media(min-width: 992px) {

    button{
        padding: .8rem .7rem;
    }
}

@media(min-width: 1200px) {

    button{
        padding: .8rem 1rem;
    }
}

.red{
    background: rgb(244,145,125);
    background: linear-gradient(135deg, rgba(244,145,125,1) 0%, rgba(247,141,120,1) 100%);
}

.centered{
    margin-top: 3rem;
    font-size: 1.4rem;
}

.title-buttons button{
    align-items:center ;
    padding: .75rem 1.1rem;
    font-size: 1.75rem;
    margin: 1rem -1px;
    box-shadow: 0 0 20px 1px #fff;
}


@media(min-width: 992px) {

    .title-buttons button{
        padding: .75rem 1.5rem;
    }
}

@media(min-width: 1200px) {

    .title-buttons button{
        padding: .75rem 1rem;
    }
}

@media(min-width: 1400px) {

    .title-buttons button{
        padding: .75rem 2rem;
    }
}

.title-text h1,p{
    text-align: center;
    color: white;
}

.title-text h1{
    font-size: 5rem;
    font-family: 'Berkshire Swash', cursive;
    padding-top: 0rem;
}

@media (min-width: 768px){
    .title-text h1{
        padding-top: 0rem;
        font-size: 8rem;
    }
}

@media (min-width: 1200px){
    .title-text h1{
        padding-top: 12rem;
    }
}

.title-text p{
    font-size: 2rem;
}

@media (min-width: 768px){

    .title-text p{
        font-size: 3rem;
    }
    
    .title-text .info-para-text{
        font-size: 2rem;
    }
}

.first-body{
    background-color: #224FF2;
}

.first-body h2{
    color: white;
    font-size: 4.5rem;
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
    margin-top: 3rem;
}

.first-body p{
    font-size: 2rem;
}

.graph-first-para img{
    height: 80%;
    margin-top: 5rem;
    
}

.graph-first-para2 img{
    margin-left: 7rem;
    
}

.grad-1{
    background: rgb(25,53,162);
    background: linear-gradient(0deg, rgba(25,53,162,1) 0%, rgba(34,79,242,1) 100%);
}

.grad-1 p{
    margin: 0;
}

.second-body{
    background-color: #1935A2;
}

.second-body h2{
    color: white;
    font-size: 4.5rem;
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
    margin-top: 3rem;
}

.second-body p{
    font-size: 2rem;
}

.graph-second-para img{
    margin-top: 10rem;
    margin-left: 10rem;
}

.graph-second-para2 img{
    margin-right: 0rem;
    margin-left: 3rem;
}

.grad-2{
    background: rgb(15,27,81);
    background: linear-gradient(0deg, rgba(15,27,81,1) 0%, rgba(25,53,162,1) 100%);
}

.grad-2 p{
    margin: 0;
}

.third-body{
    background-color: #0f1b51;
}

.third-body h2{
    color: white;
    font-size: 4.5rem;
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
    margin-top: 3rem;
}

.third-body p{
    font-size: 2rem;
}

.third-body a{
    color: #F78D78;
    text-decoration: none;
}

.graph-third-para2 img{
    margin-left: 8rem;
    margin-top: 6rem;
}

.grad-3{
    background: rgb(15,27,81);
    background: linear-gradient(180deg, rgba(15,27,81,1) 0%, rgba(8,15,49,1) 100%);
}

.grad-3 p{
    margin: 0;
}

footer{
    background-color: #080F31;
    color: white;
}

footer h3{
    font-size: 48px;
    margin-bottom: 0px;
    text-align: center;
}

footer ul{
    list-style-type: none;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

footer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer a:hover{
    color: silver;
}

.first-body-shop{
    padding-top: 4rem;
}

.first-body-shop img{
    height: 10rem;
}

.first-body-shop .platinum-img img{
    height: 10rem;
}

.first-body-shop a{
    text-decoration: none;
    color: #F78D78;
}

.first-body-shop a:hover{
    color: #b86959;
}

.card1,.card2,.card3,.card4{
    background: rgb(34,79,242);
    background: linear-gradient(135deg, rgba(34,79,242,1) 0%, rgba(15,27,81,1) 100%);
    box-shadow: 0px 0px 50px #080F31;
    margin: 1.5rem;
}

.card1 img{
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.card2 img{
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: .5rem;
}

.card3 img{
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: .5rem;
}

.card4 img{
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: .5rem;
}

.wrapper div {
    height: 60px;
    width: 60px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    position:fixed;
    top: 10%;
    left: 10%;
    animation: 4s linear infinite;
    z-index: 0;
  }

  div .dot {
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 20%;
    right: 20%;
  }
  .wrapper div:nth-child(1) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .wrapper div:nth-child(2) {
    top: 60%;
    left: 80%;
    animation: animate 10s linear infinite;
  }
  .wrapper div:nth-child(3) {
    top: 40%;
    left: 40%;
    animation: animate 3s linear infinite;
  }
  .wrapper div:nth-child(4) {
    top: 66%;
    left: 30%;
    animation: animate 7s linear infinite;
  }
  .wrapper div:nth-child(5) {
    top: 90%;
    left: 10%;
    animation: animate 9s linear infinite;
  }
  .wrapper div:nth-child(6) {
    top: 30%;
    left: 60%;
    animation: animate 5s linear infinite;
  }
  .wrapper div:nth-child(7) {
    top: 70%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .wrapper div:nth-child(8) {
    top: 75%;
    left: 60%;
    animation: animate 10s linear infinite;
  }
  .wrapper div:nth-child(9) {
    top: 50%;
    left: 50%;
    animation: animate 6s linear infinite;
  }
  .wrapper div:nth-child(10) {
    top: 45%;
    left: 20%;
    animation: animate 10s linear infinite;
  }
  .wrapper div:nth-child(11) {
    top: 10%;
    left: 90%;
    animation: animate 9s linear infinite;
  }
  .wrapper div:nth-child(12) {
    top: 20%;
    left: 70%;
    animation: animate 7s linear infinite;
  }
  .wrapper div:nth-child(13) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .wrapper div:nth-child(14) {
    top: 60%;
    left: 5%;
    animation: animate 6s linear infinite;
  }
  .wrapper div:nth-child(15) {
    top: 90%;
    left: 80%;
    animation: animate 9s linear infinite;
  }
  @keyframes animate {
    0% {
      transform: scale(0) translateY(0px) rotate(70deg);
    }
    100% {
      transform: scale(0.5) translateY(-1000px) rotate(360deg);
    }
  }

.hidden {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateY(20%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

#bubble{
    opacity: 0;
}

.modal-header-color {
    background: rgb(130,65,30);
    background: linear-gradient(315deg, rgba(130,65,30,1) 0%, rgba(248,189,122,1) 100%);
  }

.modal-header-color2{
    background: rgb(188,196,196);
    background: linear-gradient(135deg, rgba(188,196,196,1) 0%, rgba(94,94,94,1) 100%);
}

.modal-header-color3{
    background: rgb(246,190,15);
    background: linear-gradient(135deg, rgba(246,190,15,1) 0%, rgba(147,112,16,1) 100%);
}

.modal-header-color4{
    background: rgb(131,182,205);
    background: linear-gradient(135deg, rgba(131,182,205,1) 0%, rgba(144,144,145,1) 100%);
}

.modal-header h5{
    font-size: 3rem;
    text-align: center;  
    color:white;  
}

.modal-header img{
    align-items: center;
    height: 6rem;
}
.modal-body{
    text-align: center;
    font-size: 2rem;
    background: rgb(34,79,242);
    background: linear-gradient(135deg, rgba(34,79,242,1) 0%, rgba(15,27,81,1) 100%);
}

.modal-body p{
    color: white;
}

.modal-content {
    background: rgb(34,79,242);
}

.grow{
    transition: all .2s ease-in-out;
}

.grow:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px 5px #fff;
}

::-webkit-scrollbar{
    width: 0;
}

#scrollpath{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height:100%;
    background: rgba(247, 141, 120,0.4);
}

#progressbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(to top, white, #f5e0d5);
}

#progressbar:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, white, #f5e0d5);
    filter: blur(10px);
}

#progressbar::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, white, #f5e0d5);
    filter: blur(30px);
}

$color1: #306D85;
$color2: #D93A54;

.sea {
    margin: 15% auto 0 auto;
    overflow: hidden;
    
    .bubble {
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: lighten($color1, 25%);
        opacity: 0.9;
        animation: bubble1-h-movement 1s ease-in infinite, bubble1-v-movement 300ms ease-in-out infinite alternate, bubble-scale-movement 300ms ease-in-out infinite alternate;
        
        &:after {
            position: absolute;
            content: "";
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: lighten($color1, 25%);
            opacity: 0.9;
            
        }
        &:after {
          top: -20;
          left:100px;
          width: 9px;
          height: 9px;
        }
        

    }
    
    .circle-wrapper {
        position: relative;
        background: linear-gradient(darken($color1, 3%), darken($color1, 12%));
        width:300px;
        height:300px;
        margin: 10px auto 0 auto;
        overflow: hidden;
        z-index: 0;
        border-radius:50%;
        padding: 0 50px 0 50px;
        border: 6px solid lighten($color1, 10%);
        
    }
    
    .submarine-wrapper {
        height: 300px;
        width: 300px;
        padding: 30px 50px 30px 150px;
        margin: 0 auto 0 auto;
        animation: diving 3s ease-in-out infinite, diving-rotate 3s ease-in-out infinite;
        
       .submarine-body {
           
           width: 150px;
           height: 80px;
           position: absolute;
           margin-top: 50px;
           left: 25px;  
           background-color: $color2;
           border-radius: 40px;
           background: linear-gradient($color2, darken($color2, 10%));
           
           .light {
                position:absolute;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 40px 150px 40px;
                border-color: transparent transparent lighten($color1,5%) transparent;
               
                transform: rotate(-50deg);
               top:40px;
               left:99%;
               
               &:after {
                   content:"";
                   position: absolute;
                   width: 20px;
                   height:13px;
                   border-radius:5px;
                   background-color:darken($color2, 5%);
                   margin-left:-10px;
               }

           }
           
           .window {
               width: 37px;
               height: 37px;
               position: absolute;
               margin-top: 23px;
               right: 18px;
               background: linear-gradient(darken($color1, 13%), darken($color1, 18%));
               border-radius: 50%;
               border: 3px solid $color2;
               
                &:after {
                  content: "";
                  position: absolute;
                  margin-top:3px;
                  margin-left:3px;
                  width: 25px;
                  height: 25px;
                  border-radius: 50%;
                  background-color: transparent;
                  opacity:0.8;
                  border-top:3px solid white;
                  transform:rotate(-45deg); 
                }
           }
           
           .engine {
               width: 30px;
               height: 30px;
               position: absolute;
               margin-top: 32px;
               left: 53px;
               background-color: darken($color2, 10%);
               border-radius: 50%;
               border: 5px solid $color2;
               
               &:after, &:before {
                  position: absolute;
                  content: "";
                  border-radius: 2px;
                  background-color: white;
                  animation:spin 900ms linear infinite;
                  opacity:0.8;
                }
                &:after {
                  top:8px;
                  width: 20px;
                  height: 4px;
                  
                }
                &:before {
                  left:8px;
                  width: 4px;
                  height: 20px;
                  
                }
           }
       }
       
        .helix {
           width: 30px;
           height: 70px;
           position: absolute;
           margin-top: 55px;
           left:0;
           background-color: $color2;
           border-radius: 7px;
           background: linear-gradient($color2, darken($color2, 10%));
           
            &:after {
                content: "";
                position: absolute;
                margin-top:5px;
                margin-left:7px;
                width: 17px;
                height: 60px;
                border-radius: 3px;
                background-color: transparent;
                opacity:0.8;
                background: linear-gradient(
                  to bottom,
                  $color2,
                  $color2 50%,
                  lighten($color2, 15%) 50%,
                  lighten($color2, 15%)
                );
                background-size: 100% 20px;
                animation:helix-movement 110ms linear infinite;

            }
        }
        
        
        .hat {
           width: 65px;
           height: 25px;
           position: absolute;
           margin-top: 26px;
           left:70px;
           background-color: $color2;
           border-radius: 10px 10px 0 0;
           background: linear-gradient($color2, darken($color2, 3%));
           
            .periscope {
                position: absolute;
                width: 7px;
                height: 20px;
                background-color: $color2;
                margin-top: -27px;
                margin-left:32px;
                border-radius:5px 5px 0 0;
                
                &:after, &:before {
                    content: "";
                    position: absolute;
                    width: 15px;
                    height: 7px;
                    border-radius: 5px;
                    background-color: $color2;
                }
            }
            
            .leds-wrapper {
               width: 53px;
               height: 13px;
               position: relative;
               top:7px;
               left:7px;
               background-color: $color2;
               border-radius: 10px;
               background: linear-gradient(darken($color2, 12%), darken($color2, 16%));
                
                .leds {
                    position: absolute;
                    margin-top:4px;
                    margin-left:7px;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: white;
                    animation:leds-off 500ms linear infinite;

                    &:after, &:before {
                        content: "";
                        position: absolute;
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background-color: white;
                    }
                    &:after {
                        margin-top:0px;
                        margin-left:17px;
                    }
                    &:before {
                        margin-top:0px;
                        margin-left:34px;
                    }
                }
            }
        }
        
        
    }
}


@keyframes spin { 
    100% { 
        transform:rotate(360deg); 
    } 
}

@keyframes leds-off { 
    100% { 
        opacity:0.3;
    } 
}

@keyframes helix-movement {
    100% {
        background: linear-gradient(
          to bottom,
          lighten($color2, 15%) 50%,
          lighten($color2, 15%),
          $color2,
          $color2 50%
        );
        background-size: 100% 20px;
    }
}


@keyframes diving {
	0% {
         margin-top:5px;
	}
    50% {
		 margin-top:15px;
	}
    
    100% {
		 margin-top:5px;
	}
}

@keyframes diving-rotate {
	0% {
         transform:rotate(0deg); 
	}
    25% {
         transform:rotate(3deg); 
	}
    50% {
        transform:rotate(-2deg); 
	}
    100% {
        transform:rotate(0deg); 
	}
}

    @keyframes bubble1-h-movement {
	  0% { 
          margin-left: 80%;
      }
	  100% { 
           margin-left: -100%; 
      }
	}	

    @keyframes bubble2-h-movement {
	  0% { 
          margin-left: 65%;
      }
	  100% { 
           margin-left: -5%; 
      }
	}

	@keyframes bubble1-v-movement {
	  0% { 
          margin-top: 115px; 
      }
	  100% { 
          margin-top:160px; 
      }
	}
    
    @keyframes bubble2-v-movement {
	  0% { 
          margin-top: 115px; 
      }
	  100% { 
          margin-top:90px; 
      }
	}

    @keyframes bubble-scale-movement {
	  0% { 
          transform: scale(1.4);
      }
	  100% { 
          transform: scale(0.9);
      }
	}

    @keyframes light-movement {
	  0% { 
          transform: rotate(-40deg);
      }
      50% {
          transform: rotate(-70deg);
      }
	  100% { 
          transform: rotate(-40deg);
      }
	}

#preloader{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    height:100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 30px); }
    100%   { transform: translate(0, -0px); }   
}

.floating2 { 
    animation-name: floating2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating2 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 30px); }
    100%   { transform: translate(0, -0px); }   
}

.para-buttons{
    margin-left: 1rem;
    padding: .8rem 1.8rem;
    font-size: 1.7rem;
    box-shadow: 0 0 20px 1px #fff;
}


.slider{
    height: 500px;
    width: 819px;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    text-align: left;
  }
  
.slides{
    width: 500%;
    height: 500px;
    display: flex;
  }
  
.slides input{
    display: none;
  }
  
.slide{
    width: 20%;
    transition: 2s;
  }
  
.slide img{
    width: 350px;
    height: auto;
  }
  
.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
  }
  
.manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
.manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
.manual-btn:hover{
    background: #40D3DC;
  }
  
#radio1:checked ~ .first{
    margin-left: 0;
  }
  
#radio2:checked ~ .first{
    margin-left: -20%;
  }
  
#radio3:checked ~ .first{
    margin-left: -40%;
  }
  
#radio4:checked ~ .first{
    margin-left: -60%;
  }
  
.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 600px;
  }
  
.navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
.navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
  }
  
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
  }
  
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
  }
  
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40D3DC;
  }
     
.bronze-header h2{
    padding-bottom: 1rem;
    color: white;
}

.bronze-header h2:hover{
    color:#7f523a;
}
     
.silver-header h2{
    padding-bottom: 1rem;
    color: white;
}

.silver-header h2:hover{
    color: #BCC4C4;
}
     
.gold-header h2{
    padding-bottom: 1rem;
    color: white;
}

.gold-header h2:hover{
    color:#f0fc11;
}
     
.platinum-header h2{
    padding-bottom: 1rem;
    color: white;
}

.platinum-header h2:hover{
    color:#4ebff4;
}