@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
*{
    font-family: 'Patrick Hand', cursive;
    z-index: 2;
}

body::before {
    content: "XS";
    color: red;
    font-size: 2rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    right: 0;
  }
  
  @media (min-width: 576px) {
    body::before {
      content: "SM";
    }
  }
  
  @media (min-width: 768px) {
    body::before {
      content: "MD";
    }
  }
  
  @media (min-width: 992px) {
    body::before {
      content: "LG";
    }
  }
  
  @media (min-width: 1200px) {
    body::before {
      content: "XL";
    }
  }
  
  @media (min-width: 1400px) {
    body::before {
      content: "XXL";
    }
  }

.title-screen-bk{
    background-image: url(img/sea_background_LG.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 3;
}

@media(min-width:992px){
    .title-screen-bk{
        background-image: url(img/sea_background_LG.png);
    }
}

@media(min-width:1200px){
    .title-screen-bk{
        background-image: url(img/sea_background_XXL.png);
    }
}

nav{
    margin-bottom: 1rem;
}

nav ul{
    list-style-type: none;
    text-align: center;
    font-size: 1rem;
}

nav a{
    display: inline-block;
    text-align: center;
    padding: 3rem 1.4rem;
    text-decoration: none;
    font-size: 2rem;
    color: white;
}

@media(min-width: 992px) {

    nav a{
        padding: 3rem 2rem;
        font-size: 2rem;
    }
}

@media(min-width: 1200px) {

    nav a{
        padding: 3rem 4rem;
        font-size: 2rem;
    }
}

nav li{
    display: inline;
}

nav img{
    margin: -3rem -7rem; 
    height: 200px;
}

@media(min-width: 768px){

    nav img{
        margin: -3rem -7rem; 
        height: 200px;
    }

}

@media(min-width: 992px){

    nav img{
        margin: -3rem -3rem;
        height: 200px;
    }

}

button{
    border:none;
    color: black;
    padding: .8rem .8rem;
    text-align: center;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}

@media(min-width: 992px) {

    button{
        padding: .8rem .8rem;
    }
}

@media(min-width: 1200px) {

    button{
        padding: .8rem 1rem;
    }
}

button:hover{
    background-color: lightcoral;
}

.red{
    background-color: #F78D78;
}

.centered{
    margin-top: 3rem;
    font-size: 1.4rem;
}

.title-buttons button{
    align-items:center ;
    padding: .75rem 1.1rem;
    font-size: 1.75rem;
    margin: 1rem -1px;
}


@media(min-width: 992px) {

    .title-buttons button{
        padding: .75rem .4rem;
    }
}

@media(min-width: 1200px) {

    .title-buttons button{
        padding: .75rem 1rem;
    }
}

@media(min-width: 1400px) {

    .title-buttons button{
        padding: .75rem 2rem;
    }
}

.title-text h1,p{
    text-align: center;
    color: white;
}

.title-text h1{
    font-size: 5rem;
    font-family: 'Berkshire Swash', cursive;
    padding-top: 0rem;
}

@media (min-width: 768px){
    .title-text h1{
        padding-top: 0rem;
        font-size: 8rem;
    }
}

@media (min-width: 1200px){
    .title-text h1{
        padding-top: 10rem;
    }
}

.title-text p{
    font-size: 2rem;
}

@media (min-width: 768px){

    .title-text p{
        font-size: 3rem;
    }
    
    .title-text .info-para-text{
        font-size: 2rem;
    }
}

.first-body{
    background-color: #224FF2;
}

.first-body h2{
    color: white;
    font-size: 4.5rem;
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
    margin-top: 3rem;
}

.first-body p{
    font-size: 2rem;
}

.graph-first-para img{
    margin-top: 5rem;
    margin-left: -5rem;
}

.grad-1{
    background: rgb(25,53,162);
    background: linear-gradient(0deg, rgba(25,53,162,1) 0%, rgba(34,79,242,1) 100%);
}

.grad-1 p{
    margin: 0;
}

.second-body{
    background-color: #1935A2;
}

.second-body h2{
    color: white;
    font-size: 4.5rem;
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
    margin-top: 3rem;
}

.second-body p{
    font-size: 2rem;
}

.graph-second-para img{
    margin-top: 10rem;
    margin-left: 10rem;
}

.grad-2{
    background: rgb(15,27,81);
    background: linear-gradient(0deg, rgba(15,27,81,1) 0%, rgba(25,53,162,1) 100%);
}

.grad-2 p{
    margin: 0;
}

.third-body{
    background-color: #0f1b51;
}

.third-body h2{
    color: white;
    font-size: 4.5rem;
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
    margin-top: 3rem;
}

.third-body p{
    font-size: 2rem;
}

.third-body a{
    color: #F78D78;
    text-decoration: none;
}

.graph-third-para img{
    margin-top: 10rem;
}

.grad-3{
    background: rgb(15,27,81);
    background: linear-gradient(180deg, rgba(15,27,81,1) 0%, rgba(8,15,49,1) 100%);
}

.grad-3 p{
    margin: 0;
}

footer{
    background-color: #080F31;
    color: white;
}

footer h3{
    font-size: 48px;
    margin-bottom: 0px;
}

footer ul{
    list-style-type: none;
}

footer a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

footer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer a:hover{
    color: silver;
}

.first-body-shop{
    padding-top: 4rem;
}

.first-body-shop img{
    height: 10rem;
}

.first-body-shop .platinum-img img{
    height: 10rem;
}

.first-body-shop a{
    text-decoration: none;
    color: #F78D78;
}

.card1,.card2,.card3,.card4{
    background: rgb(34,79,242);
    background: linear-gradient(135deg, rgba(34,79,242,1) 0%, rgba(15,27,81,1) 100%);
    box-shadow: 0px 0px 50px #080F31;
    margin: 1rem;
}

.card1 img{
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.card2 img{
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: .5rem;
}

.card3 img{
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: .5rem;
}

.card4 img{
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: .5rem;
}

.card1 p{
    color: white;
    list-style-type: none;
    text-align: center;
}

.wrapper div {
    height: 60px;
    width: 60px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    position:fixed;
    top: 10%;
    left: 10%;
    animation: 4s linear infinite;
    z-index: 0;
  }

  div .dot {
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 20%;
    right: 20%;
  }
  .wrapper div:nth-child(1) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .wrapper div:nth-child(2) {
    top: 60%;
    left: 80%;
    animation: animate 10s linear infinite;
  }
  .wrapper div:nth-child(3) {
    top: 40%;
    left: 40%;
    animation: animate 3s linear infinite;
  }
  .wrapper div:nth-child(4) {
    top: 66%;
    left: 30%;
    animation: animate 7s linear infinite;
  }
  .wrapper div:nth-child(5) {
    top: 90%;
    left: 10%;
    animation: animate 9s linear infinite;
  }
  .wrapper div:nth-child(6) {
    top: 30%;
    left: 60%;
    animation: animate 5s linear infinite;
  }
  .wrapper div:nth-child(7) {
    top: 70%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .wrapper div:nth-child(8) {
    top: 75%;
    left: 60%;
    animation: animate 10s linear infinite;
  }
  .wrapper div:nth-child(9) {
    top: 50%;
    left: 50%;
    animation: animate 6s linear infinite;
  }
  .wrapper div:nth-child(10) {
    top: 45%;
    left: 20%;
    animation: animate 10s linear infinite;
  }
  .wrapper div:nth-child(11) {
    top: 10%;
    left: 90%;
    animation: animate 9s linear infinite;
  }
  .wrapper div:nth-child(12) {
    top: 20%;
    left: 70%;
    animation: animate 7s linear infinite;
  }
  .wrapper div:nth-child(13) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .wrapper div:nth-child(14) {
    top: 60%;
    left: 5%;
    animation: animate 6s linear infinite;
  }
  .wrapper div:nth-child(15) {
    top: 90%;
    left: 80%;
    animation: animate 9s linear infinite;
  }
  @keyframes animate {
    0% {
      transform: scale(0) translateY(0px) rotate(70deg);
    }
    100% {
      transform: scale(0.5) translateY(-1000px) rotate(360deg);
    }
  }

.hidden {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateY(20%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.delay{
    transition-delay: 200ms;
}